<%= link_to "<span>+</span> New #{@model.name}".html_safe, polymorphic_url([:admin, @model], :action => "new"), :class => "new_document" %>
<h2><%= Page.name.pluralize %></h2>

<table id="page_tree" >
  <thead>
    <tr>
       <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => "admin/pages/table_row", :locals => { :page => Page.root, :depth => 0 }) if !Page.root.nil? %>
  </tbody>
</table>
<br />

<% if @model.all.size > 15 %>
  <%= link_to "<span>+</span> New #{@model.name}".html_safe, polymorphic_url([:admin, @model], :action => "new"), :class => "new_document" %>
<% end %>