<div class="form-group">
  <%= form.label field %>
  <div class="col-sm-10">
    <%= form.text_field field, class: 'form-control', data: {behaviour: 'datepicker', format: "dd/MM/yyyy"} %>
    <span class="add-on">
      <i data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>
