<div class="page-header">
  <%= link_to "#{I18n.t('brightcontent.create_new', model: resource_class.model_name.human).capitalize}", url_for(action: :new), class: "btn btn-primary pull-right" %>
  <h1><%= nominative_plural(resource_class).capitalize %></h1>
</div>

<%= render_if_exists "index_top" %>
