<%= content_tag :tr, id: dom_id(item), class: dom_class(item) do %>
  <% list_fields.each do |field| %>
    <td><%= render_list_field(item, field) %></td>
  <% end %>
  <td class="list-actions"><%= render "list_actions", item: item %></td>
<% end %>
