<% if sizes.length > 1 && collection.count > sizes.min %>
  <ul class="pagination page-sizes pull-left">
    <% sizes.each do |size| %>
      <li class="<%= :active if size == current_size %>">
        <%= link_to size, params.merge({ per_page: size, page: corrected_page(size) }) %>
      </li>
    <% end %>
  </ul>
<% end %>
