/* DEFAULT HTML */
* { 
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  font-family: "Lucida Grande", "Lucida Sans", "Arial";
  font-size: 12px;

}

html, body {
  height: 100%;
}

#header h1 {
  display: inline;
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
}

h2 {
  margin: 0 0 15px;
  font-size: 20px;
}

a {
  color: #000;
  outline: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  font-size: 13px;
  font-weight: bold;
  display:inline;
}

/* default table style */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #fff;
}

thead { 
  background: #ddd;
  background: -moz-linear-gradient(top, #e2e2e2, #ddd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#ddd));
  border-bottom: 1px solid #cfcfcf;
  text-shadow: #DEDEDE 0 1px 0;
}
  thead a {
    color: #006cdd;
    text-decoration: none;
  }
  thead th {
    padding: 5px 5px 5px 8px;
    border-right: 1px solid #eee;
    text-align: left;
  }

  td {
    padding: 8px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
    td.actions { float: none; }

/* default list*/
.list {
  min-width: 960px;
  overflow: hidden;
}

/* PAGES  LIST */
tbody td img.page_tree {
  display: block;
  float: left;
  margin-left: 20px;
  opacity: .4;
  filter: alpha(opacity=40);
}

tbody td img:first-child {
  margin-left: 18px;
}

#page_tree td { overflow: hidden; }
#page_tree td:first-child { padding: 0px; }
#page_tree td div { padding: 10px 5px; float: left; }

#page_url_name { width: 200px; }

.even {
  background: #fafafa;
}

/* LAYOUT */
#header {
  position: relative;
  padding: 20px 20px 6px;
  min-width: 960px;
  height: 75px;
  background: #479DF0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

  a#view_site {
    position: relative;
    bottom: 3px;
    left: 6px;
    padding: 4px 8px;
    background: #48A000;
    color: #FFF;
  }
  
  a#view_site:hover {
    text-decoration: none;
  }
  

  #nav {
    margin: 19px 0 0;
  }
  
  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
    #nav li {
      float: left;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
      #nav a {
        margin: 0;
        display: inline-block;
        padding: 8px;
        height: 15px;
        background: #A0D9FF;
        color: #112f43;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        border-style: solid;
        border-width: 1px 1px 0 0;
        border-color: #8ac8f2;
      }
      
      #nav a:hover {
        text-decoration: none;
        background-color: #BAE3FF;
      }
      
      #nav a.active, #nav a.active:hover {
        background: #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
      }
  
  #user {
    position: absolute;
    top: 30px;
    right: 20px;
  }
    #user a {
      padding: 3px 8px;
      color: #fff;
    }
    
    #user a:hover {
      padding: 3px 8px;
      background: #005CBC;
      text-decoration: none;
    }
    #user span{ font-weight: bold; }
    
    
#content {
  position:relative;
  padding: 20px;
  min-width: 960px;
  overflow: hidden;
}

  .actions {
    width: 200px;
  }
  
  .actions a { float: left; }
  .actions a { padding: 2px 5px; }
  
  .actions a.edit { color: #006CDD;}
  .actions a.view { color: #48A000;}
  .actions a.delete { color: #C90000;}
  
  .actions a:hover { color: #f5f5f5; text-decoration: none;}
  
  .actions a.edit:hover { background: #006CDD;}
  .actions a.view:hover { background: #48A000;}
  .actions a.delete:hover { background: #C90000;}
  
  .actions span {
    cursor: pointer;
    float: right;
    display: block;
    padding-left: 4px;
    line-height: 19px;
    width: 15px;
    height: 19px;
    margin-right: 3px;
    font-weight: 900;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    color: #FFF;
    text-shadow: #999 0 1px;
    background: -moz-linear-gradient(top, #c9c9c9, #ccc);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c9c9c9), to(#ccc));
    font-family: Arial;
    font-size: 20px;
  }

.flash {
  margin-bottom: 20px;
  padding: 8px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
  .flash.notice {
    text-shadow: #48a000 0 2px 0;
    background: #66bf23;
  }
  
  .flash.error, .flash.alert {
    text-shadow: #cf2200 0 2px 0;
    background: #f32718;
  }

/* OPTIONS */
.fields {
	background: #f5f5f5;
	border: 1px solid #e6e6e6;
	margin: 0 5px 20px 0;
	padding: 10px;
}
	.fields .section {
		margin: 0;
		padding: 12px 0 10px 10px;
		overflow: hidden;
	}

		.fields .field {
			margin-bottom: 4px;
			min-height: 26px;
			vertical-align: top;
		}

		.fields .field input,
		.fields .field textarea { font-size: 13px; width: 75%; }

		.fields .field textarea { height: auto;}
		.fields .field.textarea label { float: left; }

		.fields .field .url_name { display: inline-block;  }

		.fields .field .url_name span { display: inline-block; padding: 6px 0; }

		.fields .field label { display: inline-block; width: 125px; font-weight: normal;}

		.fields .field #page_parent_id { width: 185px; }
		.fields .field #page_name { width: 175px; }

		.fields .field .parent_path { color: #666; }

.field {
  margin-bottom: 20px;
}

.inline_field {
  margin-bottom: 20px;
  float: left;
  width: 35%;
}

#content .block {
  background: transparent;
  padding: 0;
  width: 770px;
}

#content .block fieldset {
  padding: 20px 35px 35px;
  margin: 0 0 20px;
  width: 700px;
  background: #fff;
  border: 0 none;
}

#login {
  width: 700px;
  padding: 20px 35px 35px;
  background: #fff;
}

form a {
  color: #479DF0;
  text-decoration: none;
}

#login {
  width: 280px;
  margin: 55px auto 0 auto;
  -moz-box-shadow: 0 2px 3px #AFAFAF;
  -webkit-box-shadow: 0 2px 3px #AFAFAF;
  box-shadow: 0 2px 3px #AFAFAF;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#AFAFAF', Direction=135, Strength=4);
}

input[type='text'],
input[type='password'],
textarea {
  width: 98%;
  padding: 3px;
  font-size: 15px;
  font-family: "Lucida Grande", "Lucida Sans", "Arial";
}

textarea {
  height: 300px;
}

#page_teaser {
  height: auto;
}

input[type='submit'],
a.new_document {
  margin-right: 6px;
  padding: 5px 12px;
  background: #FFF;
  background: -moz-linear-gradient(top, #FFF, #DFDFDF);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DFDFDF));
  border: 1px solid #BFBFBF;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 #FFF;
  text-shadow: 0 1px 1px #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

  input[type='submit']:hover,
  a.new_document:hover {
    background: -moz-linear-gradient(top, #FDFDFD, #D8D8D8);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#D8D8D8));
    border-color: #A2A2A2;
  }
  
  input[type='submit']:active,
    a.new_document:active {
    background: -moz-linear-gradient(top, #EFEFEF, #FFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#FFF));
  }

input[type='checkbox'] {
  float: left;
  margin: 3px 6px 0 0;
}

form .error {
  width: 98%;
  padding: 10px;
  background-color: #ffeeee;
  font-weight: bold;
  color: #c00000;
}
 
form.error {
  font-weight: bold;
  color: #EF0000;
  line-height: 10px;
}

.image {
  margin: 10px 0;
  width: 300px;
  background-color: #eee;
  padding: 10px;
}

.image img {
  margin-bottom: 10px;
}

.tree {
  width: 700px;
  overflow: hidden;
  margin-bottom: 25px;
}

.tree div {
  width: 47%;
  float: left;
}

.tree #parent_id { }
.tree .position label { text-align: right; padding: 0 10px; }
.tree .position #page_position { width: 152px; }

a.new_document {
  height: 19px;
  position: relative;
  float: right;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lucida Grande";
  padding-left: 32px;
}
  a.new_document span {
    position: absolute;
    left: 6px;
    top: 5px;
    display: block;
    padding-left: 4px;
    line-height: 19px;
    width: 15px;
    height: 19px;
    margin-right: 3px;
    font-weight: 900;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #FFF;
    text-shadow: #016F00 0 1px;
    background: -moz-linear-gradient(top, #54BF53, #128F11);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#54BF53), to(#128F11));
    font-family: Arial;
    font-size: 20px;
  }

table tr.hidden td span,
table tr.draft td span,
table tr.draft td a {
  color: #818181;
}

table tr.hidden span {
  font-style: italic;
}

table .hidden span {
  font-style: italic;
}

table .draft em {
  padding: 2px 4px;
  background-color: #C90000;
  color: #FFF;
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
  cursor: default;
}

table tr.new td a {
  color: #ddd;
  font-style: italic;
}

table tr.new:hover td a:hover {
  color: #48A000;
}

#content a.action_link {
  text-decoration: none;
  color: #006CDD;
  padding: 4px 6px;
}

  #content a.action_link:hover {
    color: #fff;
    background: #006CDD;
    text-decoration: none;
  }

/* assets */
.assets {
  width: 450px;
  margin-bottom: 0;
  overflow: hidden;
}

.assets .field {
  clear: both;
  float: left;
  overflow: hidden;
  width: 436px;
  padding: 0 7px 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #f2f2f2;
}

  .assets .field a {
    float: right;
    color: #999;
    text-decoration: none;
  }
  
    .assets .field a:hover {
      text-decoration: underline;
    }
  
  .asset a.delete {
    float: right;
    color: #C90000;
  }

.search_and_pagination {
  overflow: hidden;
  min-width: 950px;
  padding: 8px 0 8px 10px;
  background-color: #eee;
}

/* Search */
.search_and_pagination #search {
  float: right;
  width: 290px;
  margin-top: 3px;
  padding: 2px 0 0 10px;
}

  .search_and_pagination #search .box {
    float: left;
    padding: 4px;
    margin-right: 4px;
    font-size: 13px;
    width: 190px;
    height: 17px;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    box-shadow: 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 #FFF;
  }
  
  .search_and_pagination #search .button {
    float: left;
    width: 74px;
    height: 27px;
    padding: 0px;
    font-size: 13px;
    border-radius: 12px;
  }
  
/* Pagination */
.pagination {
  padding: 10px 10px 10px 0;
  min-width: 630px;
  overflow: hidden;
}

  .pagination em {
    background-color: #696969;
    color: #e5e5e5;
    font-weight: bold;
    font-style: normal;
  }

  .pagination a {
    color: #5a5a5a;
    text-decoration: none;
  }

  .pagination a:hover {
    background-color: #e2e2e2;
  }

/*  .pagination a, 
  .pagination em {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
  }
*/
  .pagination a, 
  .pagination em, 
  .pagination span {
    padding: 4px 6px;
    border-radius: 2px;
  }

  .pagination .disabled {
    color: #a9a9a9;
    border: 0;
  }