<%#
  Recursive partial for rendering navigation menu's. Renders sub items for active items. Control the depth with the :depth local, unlimited by default.
  
  Examples:
  
  Top level menu including homepage:
    render :partial => "shared/menu_item", :collection => Page.visible_root_with_children
  
  Second level menu with all sub items:
    render :partial => "shared/menu_item", :collection => @page.path[1].children.visible
  
%>
<% depth ||= -1 %>
<li>
  <%= link_to menu_item.name, menu_item.url, :class => menu_item_classes(menu_item) %>
  <% if depth != 0 && menu_item.children.visible.present? && active?(menu_item) %>
    <ul>
      <%= render :partial => "shared/menu_item", :collection => menu_item.children.visible, :locals => { :depth => depth - 1 } %>
    </ul>
  <% end %>
</li>