<!DOCTYPE html>
<html>
<head>
  <title>Brightcontent</title>
  <%= stylesheet_link_tag    "brightcontent/application", :media => "all" %>
  <%= javascript_include_tag "brightcontent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
