<div id="overview">
  <h1><%= collection_name %></h1>

  <%= link_to "Add", polymorphic_url(resource_class, action: :new) %>

  <table>
    <thead>
      <tr>
        <% list_fields.each do |list_field| %>
          <th><%= list_field %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render "list", collection: collection, list_fields: list_fields  %>
    </tbody>
  </table>

</div>
