<% user_resources.each do |resource| %>
  <li class="<%= 'active' if resource_class == resource.klass %>">
    <%= link_to resource.klass.model_name.human.pluralize, root_path + resource.path %>
  </li>
<% end %>
