<li><%= link_to "Homepage", "/" %></li>
<li><%= link_to Brightcontent::AdminUser.model_name.human.pluralize, admin_users_path %></li>
<li class="divider"></li>
<li><%= link_to t('brightcontent.logout'), logout_path %></li>
