body
  background-color: #FAFAFA

.page-header
  padding: 0 15px 10px
  margin: 0
  border-color: #ddd

.alert
  margin: 15px

thead
  text-transform: uppercase
  font-size: 11px
  letter-spacing: 1px

.table > thead > tr > th
  border-width: 1px

.list-actions
  text-align: right
  opacity: 0
  tr:hover &
    opacity: 1

.file-preview img
  border: 1px solid #ccc

.datetime
  width: 116px

.form-fields
  margin-top: 10px

.panel-footer-pagination
  text-align: right

  .pagination
    margin: 0
    margin-top: 3px
