body {
  background-color: #f5f5f5;
}

.form-inputs input,
.form-inputs textarea {
  width: 100%;
  max-width: 622px;
}

.form-inputs input[type=checkbox] {
  width: auto;
}

.btn-right {
  float: right;
}

td.list-actions {
  text-align: right;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin h2 {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.box {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05); 
}

#attachments .attachment {
  float: left;
  position: relative;
  margin: 0 5px 5px 0;
}

#attachments .attachment .delete,
#attachments .attachment .insert {
  position: absolute;
  top: 3px;
  right: 3px;
  display: none;
}

#attachments .attachment .insert {
  top: 30px;
}

#attachments .attachment:hover .delete,
#attachments .attachment:hover .insert {
  display: block;
}

#attachments .attachment-file {
  display: block;
  background: #ccc;
  width: 80px;
  height: 90px;
  font-size: 11px;
  overflow: hidden;
  padding: 5px 10px;
}

.file-preview img {
  border: 1px solid #ccc;
}

.delete {
  float: right;
}

select.datetime {
  width: 116px
}
