<div class="field">
    <% if f.object[:asset_file_name].nil? %>
        <%= f.file_field :asset  %>
    <% else %>
        <%= f.object[:asset_file_name] %>
    <% end %>
    <%= link_to_remove_fields "remove", f %>
</div>
