<div id="form_buttons">
  <%= submit_tag "Save" %>
  <%= submit_tag "Save and continue", :name => "commit_and_continue" %>
  <%= hidden_field :commit, :save_and_continue %> or
  <%= link_to "cancel", [:admin, @model] %>
</div>

<script type="text/javascript">
  $(function () {
    $('form').submit(function () {
      setTimeout(function () {
        $('#form_buttons').append( $('<div class="overlay">&nbsp;</div>') );
      }, 1);
    });
  });
</script>