<% if item.persisted? %>
  <div id="assets">
    <% item.assets.each do |asset| %>
      <%= image_tag asset.asset.url %>
    <% end %>
  </div>

  <input id="fileupload" type="file" name="asset" data-url="<%= brightcontent_assets_path %>" multiple>
  <%= hidden_field_tag "attachable_id", item.id %>
  <%= hidden_field_tag "attachable_type", item.class.to_s %>
<% else %>
  First save to enable uploads
<% end %>
